<!DOCTYPE html>
<html lang="en">
<head>
    <title>Technology</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body bgcolor="#F05F40">


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand page-scroll" href="{{ url_for('index') }}">Blackpeak</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            </div>

        </div>

    </nav>



    <div id="Questions" align="center">
        <form method="post" action="/post_ans/{{user}}">
            <section style="background-color: #F05F40">
                <section>

                    <p>Who is the third co-founder of Apple Computers Inc. other than Steve Jobs and Stephan Wozniak?</p>

                    <input type="radio" name="q1" id="option1" value="option1"> Mike Markkula </input><br>
                    <input type="radio" name="q1" id="option2" value="option2"> John Sculley </input><br>
                    <input type="radio" name="q1" id="option3" value="option3"> Ronald Wayne </input><br>
                    <input type="radio" name="q1" id="option4" value="option4"> Bill Gates </input><br>
                    <input type="radio" name="q1" id="option5" value="option5"> Tim Cook </input><br>

                </section>

            <hr>

                 <section>

                    <p>Who is commonly credited as the inventor of the telephone?</p>

                    <input type="radio" name="q2" id="option1" value="option1"> Al - Khwarizmi </input><br>
                    <input type="radio" name="q2" id="option2" value="option2"> William Boeing </input><br>
                    <input type="radio" name="q2" id="option3" value="option3"> Alexander Graham Bell </input><br>
                    <input type="radio" name="q2" id="option4" value="option4"> Jeff Bezos </input><br>
                    <input type="radio" name="q2" id="option5" value="option5"> Thomas Edison </input><br>

                 </section>
            </section>



            <button type="submit" class="btn btn-primary">Submit {{ user }}</button>
        </form>
    </div>





</body>

</html>

<!-- #1 Who is the third co-founder of Apple Computers Inc. other than Steve Jobs and Stephan Wozniak?
a.Mike Markkula
b.John Sculley
c.Bill Gates
d.Ronald Wayne
e.Jonathan Ive
f.Tim Cook
g.Gil Amelio

#2 Who is commonly credited as the inventor of the first practical telephone?
a.Al - Khwarizmi
b.William Boeing
c.Alexander Graham Bell
d.Jeff Bezos
e.Antonio Santi Giuseppe Meucci
f.Thomas Edison
g.Benjamin Franklin

#3 What section of the Government Code and Cypher School at Bletchley Park was responsible for breaking the Enigma machine during the second world war?
a.Hut 3
b.Hut 4
c.Hut 6
d.Hut 8 
e.B – Dienst
f.Hut 9 
g.Hut 10

#4 Which of the below was the first search engine on the internet?
a.Lycos
b.Infoseek
c.AltaVista
d.Archie
e.Bing
f.Yahoo
g.Google 

#5 Who first developed the graphical user interface or GUI?
a.Sun Microsystems
b.Apple Inc.
c.Xerox PARC
d.IBM
e.Microsoft
f.Oracle
g.Dell
#6 When was the social networking service by the name Facebook founded?
a.2001
b.2002
c.2003
d.2004
e.2005
f.2006
g.2007

#7 Where are the headquarters of Microsoft located?
a.Albuquerque, New Mexico
b.Menlo Park, California
c.Stanford, California
d.Redmond, Washington
e.Cupertino, California
f.Washington D.C. 
g.San Francisco, California 

#8 Who has envisioned the Hyperloop?
a.Thomas Edison
b.Elon Musk
c.Richard Feynman
d.Richard Branson
e.Steve Jobs
f.Bill Gate
g.Larry Elisson

#9 Which is the first surveillance program unveiled through the Snowden Revelations under which the NSA collects internet communications?
a.Tempora
b.XKeyscore
c.PRISM
d.Bullrun
e.Heartbeat
f.INFOP
g.Datacoll

#10 Where is the RSA algorithm been used?
a.Quantum programming
b.Voice recognition
c.Secure internet data transmission
d.Artificial intelligence
e.Optical computing
f.Photonic data transmissions
g.Virtual reality
-->
