<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Technology</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href=" {{ url_for('index') }} ">Blackpeak</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
{#                    <li>#}
{#                        <a class="page-scroll" href="#about">About</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="page-scroll" href="#services">Services</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="page-scroll" href="#portfolio">Portfolio</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="page-scroll" href="#contact">Contact</a>#}
{#                    </li>#}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Welcome to Technology Section</h1>
                <hr>
                <p>Lets Begin!</p>
                <h4>Are You Ready?</h4>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Proceed!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row" >
                <div class="col-lg-8 text-center" style="width:100%;">
                    <b> #1</b>
                   <h3>Who is the third co-founder of Apple Computers Inc. other than Steve Jobs and Stephan Wozniak?</h3>
                   <br>
                   <div class="input-group-lg">
                       <a type="submit" href="#q2" class="page-scroll btn btn-default btn-lg sr-button" onclick="/test" >Mike Markkula</a>
                       <input type="submit" href="#q2" class="page-scroll btn btn-default btn-lg sr-button" value="John Sculley"/>
                       <input type="submit" href="#q2" class="page-scroll btn btn-default btn-lg sr-button" value="Bill Gates"/>
                       <input type="submit" href="#q2" class="page-scroll btn btn-default btn-lg sr-button" value="Ronald Wayne"/>
                       <input type="submit" href="#q2" class="page-scroll btn btn-default btn-lg sr-button" value="Jonathan Eve"/>
                   </div> <br><br style="height: 40%;">
                </div>

{#                <div class="row" style="height:250px;">#}
{#                    SEPERATOR#}
{#                </div>#}
{##}
                {#      Second Question          #}
{#                <section id="q2">#}
{#                    <div class="col-lg-8 text-center" style="width:100%;">#}
{#                   <h3>Who is commonly credited as the inventor of the first practical telephone?</h3>#}
{#                   <br>#}
{#                   <div class="input-group-lg">#}
{#                       <a type="button" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Al - Khwarizmi</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">William Boeing</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Alexander Graham Bell</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Jeff Bezos</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Thomas Edison</a>#}
{#                   </div> <br>#}
{#                </div>#}
{#                </section>#}
{##}
{##}
{#                <div class="row" style="height:250px;">#}
{#                    SEPERATOR#}
{#                </div>#}
{##}
                {#      Third Question          #}
{#                <section id="q3">#}
{#                    <div class="col-lg-8 text-center" style="width:100%;">#}
{#                   <h3>What section of the Government Code and Cypher School at Bletchley Park was responsible for breaking the Enigma machine during the second world war?</h3>#}
{#                   <br>#}
{#                   <div class="form-group" href="q1">#}
{#                       <a type="button" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Hut 3</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Hut 4</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Hut 6</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Hut 8</a>#}
{#                       <a type="submit" href="#q3" class="page-scroll btn btn-default btn-lg sr-button">Hut 10</a>#}
{#                   </div> <br>#}
{#                </div>#}
{#                </section>#}



            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>

</body>

</html>
