<!DOCTYPE html>
<html lang="en">
<head>
    <title>Technology</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body bgcolor="#F05F40">



<div id="navbar" class="navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="{{ url_for('index') }}">Return To Homepage</a>
            </div>


        </div>

    </div>



    <div id="Questions" align="center" style="font-size: large">
        <form method="post" action="/post_tec/{{user}}">
            <div>
                <section class="jumbotron">


                    <h2>Who is the third co-founder of Apple Computers Inc. other than Steve Jobs and Stephan Wozniak?</h2>

                    <input type="radio" name="q0" id="option1" value="option1"> Mike Markkula </input>&nbsp;&nbsp;
                    <input type="radio" name="q0" id="option2" value="option2"> John Sculley </input>&nbsp;&nbsp;
                    <input type="radio" name="q0" id="option3" value="option3"> Ronald Wayne </input>&nbsp;&nbsp;
                    <input type="radio" name="q0" id="option4" value="option4"> Bill Gates </input>&nbsp;&nbsp;
                    <input type="radio" name="q0" id="option5" value="option5"> Tim Cook </input>&nbsp;&nbsp;
                    <input type="radio" name="q0" id="option6" value="options6"> Gil Ameliio </input>&nbsp;&nbsp;
                    <input type="radio" name="q0" id="option7" value="options7"> Jonathan Ive </input>&nbsp;&nbsp;
                </section>

            <hr>

                 <section class="jumbotron">

                    <h2>Who is commonly credited as the inventor of the telephone?</h2>


                    <input type="radio" name="q1" id="option1" value="option1"> Al - Khwarizmi </input>&nbsp;&nbsp;
                    <input type="radio" name="q1" id="option2" value="option2"> William Boeing </input>&nbsp;&nbsp;
                    <input type="radio" name="q1" id="option3" value="option3"> Alexander Graham Bell </input>&nbsp;&nbsp;
                    <input type="radio" name="q1" id="option4" value="option4"> Jeff Bezos </input>&nbsp;&nbsp;
                    <input type="radio" name="q1" id="option5" value="option5"> Thomas Edison </input>&nbsp;&nbsp;
                    <input type="radio" name="q1" id="option6" value="option6"> Benjamin Franklin </input>&nbsp;&nbsp;
                    <input type="radio" name="q1" id="option7" value="option7"> Antonio Santi Giuseppe Meucci </input>&nbsp;&nbsp;


                 </section>

<hr>

                 <section class="jumbotron">

                    <h2>What section of the Government Code and Cypher School at Bletchley Park <br> was responsible for breaking the Enigma machine during the second world war?</h2>

                    <input type="radio" name="q2" id="option1" value="option1"> Hut 3</input>&nbsp;&nbsp;
                    <input type="radio" name="q2" id="option2" value="option2"> Hut 4 </input>&nbsp;&nbsp;
                    <input type="radio" name="q2" id="option3" value="option3"> Hut 6 </input>&nbsp;&nbsp;
                    <input type="radio" name="q2" id="option4" value="option4"> Hut 8  </input>&nbsp;&nbsp;
                    <input type="radio" name="q2" id="option5" value="option5"> B – Dienst </input>&nbsp;&nbsp;
                    <input type="radio" name="q2" id="option6" value="option6"> Hut 9  </input>&nbsp;&nbsp;
                    <input type="radio" name="q2" id="option7" value="option7"> Hut 10 </input>&nbsp;&nbsp;


            </section>
<hr>

                 <section class="jumbotron">

                    <h2>Which of the below was the first search engine on the internet?</h2>

                    <input type="radio" name="q3" id="option1" value="option1"> Lycos</input>&nbsp;&nbsp;
                    <input type="radio" name="q3" id="option2" value="option2"> InfoSeek </input>&nbsp;&nbsp;
                    <input type="radio" name="q3" id="option3" value="option3"> AltaVista </input>&nbsp;&nbsp;
                    <input type="radio" name="q3" id="option4" value="option4"> Archie  </input>&nbsp;&nbsp;
                    <input type="radio" name="q3" id="option5" value="option5"> Bing </input>&nbsp;&nbsp;
                    <input type="radio" name="q3" id="option6" value="option6"> Yahoo  </input>&nbsp;&nbsp;
                    <input type="radio" name="q3" id="option7" value="option7"> Google </input>&nbsp;&nbsp;


            </section>
<hr>

                 <section class="jumbotron">

                    <h2>Who first developed the graphical user interface or GUI?</h2>

                    <input type="radio" name="q4" id="option1" value="option1"> Sun Microsystems</input>&nbsp;&nbsp;
                    <input type="radio" name="q4" id="option2" value="option2"> Apple Inc. </input>&nbsp;&nbsp;
                    <input type="radio" name="q4" id="option3" value="option3"> Xerox Parc</input>&nbsp;&nbsp;
                    <input type="radio" name="q4" id="option4" value="option4"> IMB</input>&nbsp;&nbsp;
                    <input type="radio" name="q4" id="option5" value="option5"> Microsoft</input>&nbsp;&nbsp;
                    <input type="radio" name="q4" id="option6" value="option6"> Oracle</input>&nbsp;&nbsp;
                    <input type="radio" name="q4" id="option7" value="option7"> Dell</input>&nbsp;&nbsp;


            </section>
<hr>

                 <section class="jumbotron">

                    <h2>When was the social networking service by the name Facebook founded?</h2>

                    <input type="radio" name="q5" id="option1" value="option1"> 2001</input>&nbsp;&nbsp;
                    <input type="radio" name="q5" id="option2" value="option2"> 2002</input>&nbsp;&nbsp;
                    <input type="radio" name="q5" id="option3" value="option3"> 2003</input>&nbsp;&nbsp;
                    <input type="radio" name="q5" id="option4" value="option4"> 2004</input>&nbsp;&nbsp;
                    <input type="radio" name="q5" id="option5" value="option5"> 2005</input>&nbsp;&nbsp;
                    <input type="radio" name="q5" id="option6" value="option6"> 1821</input>&nbsp;&nbsp;
                    <input type="radio" name="q5" id="option7" value="option7"> 2007</input>&nbsp;&nbsp;


            </section>
<hr>

                 <section class="jumbotron">

                    <h2>Where are the headquarters of Microsoft located?</h2>

                    <input type="radio" name="q6" id="option1" value="option1"> Albuquerque, New Mexico</input>&nbsp;&nbsp;
                    <input type="radio" name="q6" id="option2" value="option2"> Menlo Park, California</input>&nbsp;&nbsp;
                    <input type="radio" name="q6" id="option3" value="option3"> Stanford, California</input>&nbsp;&nbsp;
                    <input type="radio" name="q6" id="option4" value="option4"> Redmond, Washington</input>&nbsp;&nbsp;
                    <input type="radio" name="q6" id="option5" value="option5"> Cupertino, California</input>&nbsp;&nbsp;
                    <input type="radio" name="q6" id="option6" value="option6"> Washington D.C.</input>&nbsp;&nbsp;
                    <input type="radio" name="q6" id="option7" value="option7"> San Francisco, California</input>&nbsp;&nbsp;


            </section>
<hr>

                 <section class="jumbotron">

                    <h2>Who has envisioned the Hyperloop?</h2>

                    <input type="radio" name="q7" id="option1" value="option1"> Thomas Edison</input>&nbsp;&nbsp;
                    <input type="radio" name="q7" id="option2" value="option2"> Elon Musk</input>&nbsp;&nbsp;
                    <input type="radio" name="q7" id="option3" value="option3"> Richard Feynman</input>&nbsp;&nbsp;
                    <input type="radio" name="q7" id="option4" value="option4"> Richard Branson</input>&nbsp;&nbsp;
                    <input type="radio" name="q7" id="option5" value="option5"> Steve Jobs</input>&nbsp;&nbsp;
                    <input type="radio" name="q7" id="option6" value="option6"> Bill Gates</input>&nbsp;&nbsp;
                    <input type="radio" name="q7" id="option7" value="option7"> Larry Elisson</input>&nbsp;&nbsp;


            </section>
<hr>

                 <section class="jumbotron">

                    <h2>Which is the first surveillance program unveiled through the <br> Snowden Revelations under which the NSA collects internet communications?</h2>


                    <input type="radio" name="q8" id="option1" value="option1"> Tempora</input>&nbsp;&nbsp;
                    <input type="radio" name="q8" id="option2" value="option2"> XKeyscore</input>&nbsp;&nbsp;
                    <input type="radio" name="q8" id="option3" value="option3"> PRISM</input>&nbsp;&nbsp;
                    <input type="radio" name="q8" id="option4" value="option4"> Bullrun</input>&nbsp;&nbsp;
                    <input type="radio" name="q8" id="option5" value="option5"> HeartBeat</input>&nbsp;&nbsp;
                    <input type="radio" name="q8" id="option6" value="option6"> INFOP</input>&nbsp;&nbsp;
                    <input type="radio" name="q8" id="option7" value="option7"> Datacoll</input>&nbsp;&nbsp;


            </section>
<hr>

                 <section class="jumbotron">

                    <h2>Where is the RSA algorithm been used?</h2>

                    <input type="radio" name="q9" id="option1" value="option1"> Quantum programming</input>&nbsp;&nbsp;
                    <input type="radio" name="q9" id="option2" value="option2"> Voice recognition</input>&nbsp;&nbsp;
                    <input type="radio" name="q9" id="option3" value="option3"> Secure internet data transmission</input>&nbsp;&nbsp;
                    <input type="radio" name="q9" id="option4" value="option4"> Artificial intelligence</input>&nbsp;&nbsp;
                    <input type="radio" name="q9" id="option5" value="option5"> Optical computing</input>&nbsp;&nbsp;
                    <input type="radio" name="q9" id="option6" value="option6"> Photonic data transmissions </input>&nbsp;&nbsp;
                    <input type="radio" name="q9" id="option7" value="option7"> Virtual reality</input>&nbsp;&nbsp;<br>


                 </section>


            </div>


            <hr>
            <button type="submit" class="btn btn-primary">Submit {{ user }}</button>
            <br><br>
        </form>
    </div>





</body>

</html>